<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">

    <!-- CSS file-->
    <title>Combos</title>
    <!-- fontawesome -->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/cee8cd3d11.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Crimson+Pro:wght@300&family=Faustina&family=Kaisei+HarunoUmi:wght@700&display=swap" rel="stylesheet">
    <style>
        h1 {
            font-family: 'Kaisei HarunoUmi', serif;
        }
        
        h2 {
            font-family: 'Crimson Pro', serif;
        }
        
        h3 {
            font-family: 'Faustina', serif;
        }
        
        h4 {
            font-family: 'Faustina', serif;
        }
        
        h5 {
            font-family: 'Faustina', serif;
        }
        
        h6 {
            font-family: 'Faustina', serif;
        }
    </style>
</head>

<body>

    <nav class=" navbar sticky navbar-expand-lg navbar-dark bg-dark container-fluid ">
        <div class="container-fluid ">
            <a class="navbar-brand " href="# ">Capgemini Tech-Challenge 2021</a>
            <button aria-controls="navbarNav " aria-expanded="false " aria-label="Toggle navigation " class="navbar-toggler " data-bs-target="#navbarNav " data-bs-toggle="collapse " type="button ">
            <span class="navbar-toggler-icon "></span>
        </button>
            <div class="collapse navbar-collapse " id="navbarNav ">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item ">
                        <a class="nav-link " href="{{url_for( 'home')}} ">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="{{url_for( 'methodology')}} ">Methodology</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="https://github.com/shounak8/Data-Science-Projects/blob/master/Product%20Recommendation%20System/Capgemini%20Recommendation%20System%20Project.ipynb ">Code</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="{{url_for( 'content')}} ">Working Example</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('conclusion')}}">Further Improvement</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container px-4 " style="background-color: #5c026e;">
        <h1 style="color: white; text-align: center; padding-top: 1%;">Combos: Items and Categories</h1>
        <h2 style="color: gold; text-align: center; padding: 1%;">Category: <b>{{ cat }}</b></h2>
        <div class="container" style="width: 50%; margin: auto;padding-top: 2%;">
            <div class="row gx-5 ">
                <div class="col ">
                    <div class="p-3 border bg-light ">
                        For Category:<b> {{ cat }} </b>, <br>Item Combos are:


                        <table class="table table-bordered ">
                            <thead>
                                <tr>
                                    <th scope="col ">#</th>
                                    <th scope="col ">Combo</th>
                                    <th scope="col ">Item 1</th>
                                    <th scope="col ">Item 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for num,item in enumerate(items) %}
                                <tr>
                                    <th scope="row ">{{num+1}}</th>
                                    <td>Combo {{ num+1 }}</td>
                                    <td>{{ item[0] }}</td>
                                    <td>{{ item[1] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="container" style="width: 54%; margin: auto; padding-bottom: 2%;">
            <div class="container px-4 ">
                <div class="row gx-5 ">
                    <div class="col ">
                        <div class="p-3 border bg-light ">
                            <b>Category: {{ cat}} </b> is part of combo of Categories: <br><br> {% for category in categories %}
                            <ul>
                                <li>{{ category }}</li>
                            </ul><br> {% endfor %}
                            <br><br> You may like Items belonging from the related Categories.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>

        <div class="container-fluid " style="padding:0; margin: 0; border: 0; text-align: center; background-color: black; color: white; ">

            <h2><a href="https://www.linkedin.com/in/shounak-deshpande-ab80b0105/ "><i class="fab fa-linkedin " style="color: white; margin-top:1%; "></i></a>
                <a href="https://github.com/shounak8 "><i class="fab fa-github-square " style="padding:0 3%; color: white; margin-top:1%; "></i></a>
                <a href="https://www.facebook.com/shounak.deshpande "><i class="fab fa-facebook-square " style="color: white; margin-top:1%; "></i></a></h2>

            <p style="text-align:center; margin: 0; padding-bottom: 10px; ">Copyright © Website created by Shounak for Capgemini Tech Challenge 2021</p>
        </div>

    </footer>

    <script crossorigin="anonymous " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js "></script>
</body>

</html>